/*header*/
.menu{
  background:#000000;
  width:1170px;
  margin:0 auto;
  height:40px;
}

.menu h1{
  float:left;
  color:rgba(255,255,255,0.8);
}

.menu a{
  float:right;
  color:#fff;
}

/*top*/
.top-wrapper{
  width:100%
  both:clear;
  text-align:center
}
