/*header*/
header{
  background:#000000;
}
.menu{
  width:1170px;
  margin:0 auto;
  height:40px;
}

.menu h1{
  float:left;
  color:#write;
}

.menu a{
  float:right;
  color:#fff;
}

/*top*/
.top-wrapper{
  width:100%
  both:clear;
  text-align:center
}
