/*header*/
header{
  background:black;
}
.menu{
  width:1170px;
  margin:0 auto;
  height:40px;
  display:inline-block;
}

.menu h1{
  color:#FFFF00;
  display:inline-block;
}

.menu a{
  color:#fff;
  display:inline-block;
}

/*top*/
.top-wrapper{
  width:100%;
  both:clear;
  text-align:center
}
/*about*/
.about-wrapper{
  background-color:#fff;
}

.about-wrapper h2{
  text-align:center;
}
.abouts{
  width:1170px;
  margin: 0 auto;
}

.about img{
  width:30%;
}
